/*Google font*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset rule*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	/*shorthand property*/
	padding: 0.8rem;
	
	/*padding-top: 0.8rem;
	padding-left: 0.8rem;
	padding-bottom: 0.8rem;
	padding-right: 0.8rem;*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;

}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
  text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem%;
	padding-bottom: 3rem%;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 	0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	padding: 1rem;
	color: white;
	background-color: #002540;
}

#pre-footer .inline {
	display: inline-block;
	width: 20%;
}

.inline .margin {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}
/*Margin vs Padding*/
/*Margin is best used when creating space between elements*/
/*Padding is best used when creating space betwwen element's border and its content*/