/*SYNTAX*/
/*A CSS rule-set consists of a selector and a declaration block*/

/*Selector determines which element will the styling be applied to*/

/*Type Selector - targets element with specified type/tag name*/
h1 {
	/*Declaration block*/
	/*color - property (The selected styling attribute to be modified in a given selector)*/
	/*yellow - value (The modified value of the selected styling attribute)*/
	color: yellow;
	text-align: center;
	font-size: 2rem;
}

section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
	color: darkred;
}

ol {
	list-style: none;
}

body {
	background-color: lightblue;
}

nav {
	background-color: whitesmoke;
}

/*selector:hover pseudo class*/
a:hover {
	background-color: #b4d6de;
}

div {
	display: inline-block;
	float: right;
}

/*Universal Selector (lowest priority) - targets all the elements*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector (highest priority)*/

#zuitt-motto {
	letter-spacing: 5px;
}

h3 {
	letter-spacing: 25px !important;
}

/*Class Selector - targets element according to its class attribute*/
.offering-item {
	text-transform: uppercase;
}

/*Attribute Selector - targets element a specified element attributes; used to target emlements with a certain attributes*/
/*tagname[attribute]*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 85%;
}

form {
	text-align: center;
	background-color: whitesmoke;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: dimgray;
	color: goldenrod;
	border: 0;
	border-radius: 5px;
	}

button:hover{
	background-color: whitesmoke;
}
/*!important - override the priority according to location and selector type*/

/*Specificity Rule*/
/*The following order prioritizes styles from highest to lowest priority (according to selector)
1. ID Selector
2. Class Selector
3. Attribute Selector
4. Type Selector
5. Universal Selector
*/

/*Specificity Rule*/
/*
The following order prioritizes styles from highest to lowest priority (according to location)
1. Inline Styling
2. Internal Styling
3. External Styling
*/

/*CSS Combinators*/
/*Adjacent Sibiling Selector (+) - targets the element immediately following another element, which must be ist sibling and located right after it in the HTML structure*/
/*selector + selector*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector (Whitespace) - targets any element that is a descendant of another element*/
/*selector selector*/
#bootcamp-learning-list li {
	color: #075966;
}

/*General Sibling Selector (~) - targets all element that follow another element and share the same parent*/
/*selector - selector*/
h2 ~ a, a {
	text-decoration: none;
}

/*Child Selector (>) - targets all elements that are the children of a specified element*/
/*selector > selector*/
body > section > form > label {
	color: rgb(0, 0, 128);
}

