* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	background-color: white;
	position: sticky;
	top: 10px;
	padding: 0.8rem;
	padding-left: 20px;
	padding-right: 130px ;
	margin-top: 2rem;
	border-top: 1px solid gray;
}

.nav-logo {
	padding-left: 100px;
}

.nav, .nav-logo {
	margin: 0.5rem;
	display: inline;

}

.right-nav{
	display: inline-block;
	float: right;
}

.tuitt-button {
	color: white;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	font-weight: bold;
	padding: .75rem;
	border: 0px;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: center center;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
}

.container {
	color: white;
	text-align: right;
	padding-right: 10%;
	padding-left: 50%;
	padding-bottom: 3%;

}

.title {
	font-size: 42px;
	font-weight: bold;
}

.subtitle {
	font-size: 20px;
	font-weight: 300;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30%;
}

.apply-button {
	color: white;
	background-color: #c2195b;
	border-radius: 30px;
	font-size: 1rem;
	padding-bottom: .75rem;
	padding-top: .75rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	border: 0px;
}

.title, .title-2 {
	font-family: 'Zilla Slab';
}

.title-2 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 60px;
}

.intro {
	padding-bottom: 50px;
}
.intro-description {
	text-align: justify;
	margin-left: 14%;
	margin-right: 14%;
}
.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
}

.prefooter-description {
	margin-left: 14%;
	margin-right: 14%;
	margin-bottom: 15px;
}

.book-button {
	background-color: #336589;
	color: white;
	border-radius: 30px;
	font-size: 1rem;
	padding-bottom: .75rem;
	padding-top: .75rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	border: 0px;
}

footer {
	text-align: center;
	padding-bottom: 50px;
}