#p3 {
	color: yellow;
}

* {
	font-family: sans-serif;
	font-size: 15px;
}

h1 {
	font-size: 28px;
}

h2 {
	text-transform: uppercase;
}

.background {
	background-color: burlywood;
}

li[style="border-style: solid;"] {
	border-width: 2px;
	border-style: solid;
	border-color: blue;
	
}

img + ul {
	list-style: none;
}

section img {
	height: 200px;
	width: 200px;
	border-radius: 150px;
}

ul ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 20px;
}