<!-- Scenario A -->
<!--  You have an input tag and would like to make sure that the username field can only take a maximum of 15 characters. What would be the best way to implement this only using HTML. -->

<!-- Solution A -->

<input type = "text" name = "username" maxlength = "15" />

<!-- Resource A : https://www.tutorialspoint.com/How-to-limit-the-number-of-characters-allowed-in-form-input-text-field -->

<!-- Solution B -->

<input type="text" id="username" name="username" required
       minlength="1" maxlength="15" size="17">

 <!--  Resource B : https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input -->



 <!-- Scenario B -->
 <!-- You have an image and the picture you’re trying to show is only available online and your website displays a broken image with no information. You would like to display an alternative text instead when the image is not available. What can you use to achieve this output? -->

 <!-- Solution A -->

 <img src="K12Title.gif" alt="Fake Child Education
Site Label"> </p>

<!-- Resource A : https://accessibility.psu.edu/images/imageshtml/ -->

<!-- Solution B -->

<img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600">

<!--  Resource B : https://www.w3schools.com/tags/att_img_alt.asp#:~:text=The%20required%20alt%20attribute%20specifies,user%20uses%20a%20screen%20reader).-->



<!-- Scenario C -->
<!-- You have a website that you would like to display certain text as code so it’s easily readable by your users. What can you use to display code not as plain text but something similar to code written in a text editor? -->

<!-- Solution A -->

<pre>
<!--code Tag starts here -->
        <code>
        class GFG
        {
            // Program begins with a call to main()
            // Print "Hello, World" to the terminal window
            public static void main(String args[])
            {
                System.out.println("Hello, World");
            }
        }
<!--code Tag ends here -->
        </code>
     </pre>


<!-- Resource A :  https://www.geeksforgeeks.org/html-code-tag/ -->

<!-- Solution B -->

<p>The HTML <code>button</code> tag defines a clickable button.</p>

<!-- Resource B : https://www.w3schools.com/tags/tag_code.asp -->



<!-- Scenario D -->
<!-- Stretch Goal: You would like to have a self auto-scrolling image in your application to display multiple pictures in your website. A friend mentioned that you could use a CSS framework to get the job done. What could you use to quickly implement this in a matter of minutes?
 -->

<!-- Solution A -->

<!-- CSS code -->

.box-tasvir {
    overflow: hidden;
    height: 320px;
    width: 320px;
    position: relative;
    margin: 0 auto;
}
@keyframes masihscroll {
    0% {transform: translateY(0%);}
    50% {transform: translateY(-80%);}
    100% {transform: translateY(-0%);}
}
.box-tasvir img {
    width: 100%;
    height: auto;
    max-width: 100%;
    transition: all 3s;
    animation-duration: 25s;
    animation-name: masihscroll;
    animation-iteration-count: 1000;
}
<!-- HTML code -->

<div class="box-tasvir">
  
  <img src="https://up.20script.ir/file/99f7-023150.png">
  <img src="https://up.20script.ir/file/99f7-023150.png">
  <img src="https://up.20script.ir/file/99f7-023150.png">
  
</div>

<!-- Resource A : https://codepen.io/masihdindar/pen/gqRaXK -->

<!-- Solution B -->

<!-- CSS code -->

body { 
  min-height: 800vh;
  padding: 0;
  margin: 0;
}

section {
  padding-top: 200px;
}

.ImageScroll__wrapper {
  padding-top: 50px;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.ImageScroll__image {
  height: 100%;
  width: 300%;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);
  background-repeat: repeat-x;
  transform: translate3d(0, 0, 0);
}

<!-- HTML code -->

<section>
  <div class="ImageScroll__wrapper">
    <div class="ImageScroll__image    ImageScroll__image-1"></div>
  </div> 
    <div class="ImageScroll__wrapper">
    <div class="ImageScroll__image    ImageScroll__image-2"></div>
  </div> 
    <div class="ImageScroll__wrapper">
    <div class="ImageScroll__image    ImageScroll__image-3"></div>
  </div> 
</section>

<!-- Resource B : https://greensock.com/forums/topic/28867-how-to-make-auto-scrolling-image-repeat/ -->